<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <title>🐦🌏 Tweet Globe</title>
  <link href="/static/globe-styles.css" rel="stylesheet"/>
  <body>
    <h1>Bar chart goes here</h1>
    <div class="tweet-globe"></div>
    <div class="barchart"></div>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/queue.v1.min.js"></script>
    <script src="https://d3js.org/topojson.v0.min.js"></script>
    <script src="/static/globe.js"></script>
    <script src="/static/barchart.js"></script>
  </body>
</html>